:root {
    /* font-size */
    --fs-sm: 14px;
    --fs-md: 20px;
    --fs-lg: 24px;
    --fs-xl: 24px;
    --fs-xxl: 38px;
    /* font-weight */
    --fw-400: 400;
    --fw-500: 500;
    --fw-600: 600;
    --fw-700: 700;
    --fw-800: 800;
    --fw-900: 900;
    /* line-height */
    --line-23: 23px;
    --line-24: 21px;
    --line-25: 25px;
    --line-28: 28px;
    --line-34: 34px;
    --line-69: 34px;
    --line-76: 47px;

    /* color */
    --white: #FFFFFF;
    --yellow: #FFC20A;
    --heading: #3B945E;
    --orange: #FF9F00;
    --bg-color: #030D01;
    --border: #44C53252;
    --text-color: #5CE959;
    --gray: #EAA763;
    --light-yellow: #F7D567;
    --red: #B73537;
    --green: #27603D;





}

.green {
    color: var(--green);
}

.red {
    color: var(--red);
}

.light-yellow {
    color: var(--light-yellow);
}

.gray {
    color: var(--gray);
}

.text-color {
    color: var(--text-color);
}

.bg_circle {
    color: var(--bg_circle);
}

.border {
    color: var(--border);
}

.fs-16 {
    font-size: var(--fs-sm);
}

.fs-20 {
    font-size: var(--fs-md);
}

.fs-24 {
    font-size: var(--fs-lg);
}

.fs-48 {
    font-size: var(--fs-xl);
}

.fs-64 {
    font-size: var(--fs-xxl);
}

.fw-400 {
    font-weight: var(--fw-400);
}

.fw-500 {
    font-weight: var(--fw-500);
}

.fw-600 {
    font-weight: var(--fw-600);
}

.fw-700 {
    font-weight: var(--fw-700);
}

.fw-800 {
    font-weight: var(--fw-800);
}

.fw-900 {
    font-weight: var(--fw-900);
}

.line-23 {
    line-height: var(--line-23);
}

.line-24 {
    line-height: var(--line-24);
}

.line-25 {
    line-height: var(--line-25);
}

.line-28 {
    line-height: var(--line-28);
}

.line-34 {
    line-height: var(--line-34);
}

.line-69 {
    line-height: var(--line-69);
}

.line-76 {
    line-height: var(--line-76);
}

.white {
    color: var(--white);
}

.yellow {
    color: var(--yellow);
}

.heading {
    color: var(--heading);
}

.orange {
    color: var(--orange);
}

.bg-color {
    color: var(--bg-color);
}

.Dela_font {
    font-family: 'Dela Gothic One', sans-serif;
}

.Fira_Sans {
    font-family: 'Fira Sans', sans-serif;
}

.Roboto {
    font-family: 'Roboto', sans-serif;
}

.Exo_2 {
    font-family: 'Exo 2', sans-serif;
}

@media (min-width: 575px) {
    :root {
        /* font-size */
        --fs-sm: 16px;
        --fs-md: 20px;
        --fs-lg: 24px;
        --fs-xl: 40px;
        --fs-xxl: 50px;
        /* font-weight */
        --fw-400: 400;
        --fw-500: 500;
        --fw-600: 600;
        --fw-700: 700;
        --fw-800: 800;
        --fw-900: 900;
        /* line-height */
        --line-23: 23px;
        --line-24: 24px;
        --line-25: 25px;
        --line-28: 28px;
        --line-34: 34px;
        --line-69: 60px;
        --line-76: 64px;

        /* color */
        --white: #FFFFFF;
        --yellow: #FFC20A;
        --heading: #3B945E;
        --orange: #FF9F00;
        --bg-color: #030D01;







    }

}

@media (min-width: 768px) {
    :root {
        /* font-size */
        --fs-sm: 16px;
        --fs-md: 20px;
        --fs-lg: 24px;
        --fs-xl: 48px;
        --fs-xxl: 64px;
        /* font-weight */
        --fw-400: 400;
        --fw-500: 500;
        --fw-600: 600;
        --fw-700: 700;
        --fw-800: 800;
        --fw-900: 900;
        /* line-height */
        --line-23: 23px;
        --line-24: 24px;
        --line-25: 25px;
        --line-28: 28px;
        --line-34: 34px;
        --line-69: 69px;
        --line-76: 76px;

        /* color */
        --white: #FFFFFF;
        --yellow: #FFC20A;
        --heading: #3B945E;
        --orange: #FF9F00;
        --bg-color: #030D01;







    }

}